.outfit-generator {
  padding: 80px 20px 0px;
}

@media (min-width: 992px) {
  .outfit-generator {
    padding: 80px 30px 0px;
  }
}

.generator-head h1 {
  font-family: 'Matter';
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #312F2E;
  margin: 0px 0px 32px;
}

.generator-head p {
  font-family: 'Matter';
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #312F2E;
  margin: 0px;
}

.generator-block {
  margin: 40px 0px 50px;
}

.generator-block .dropdown-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 992px) {
  .generator-block .dropdown-list {
    flex-direction: row;
  }
}

.generator-block .dropdown-list .drop-box {
  background: #FFFFFF;
  box-shadow: 0px 8px 48px rgba(49, 47, 46, 0.12), 0px 2px 4px rgba(60, 70, 73, 0.08), 0px 0px 1px rgba(60, 70, 73, 0.16), 0px 4px 6px rgba(60, 70, 73, 0.08);
  border-radius: 16px;
  padding: 30px 30px 26px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .generator-block .dropdown-list .drop-box {
    margin-bottom: 40px;
    width: 400px;
  }
}

.generator-block .dropdown-list .drop-box:last-child {
  margin: 0px;
}

.generator-block .dropdown-list .drop-box p {
  font-family: 'SFProText';
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 1px;
  color: #62605D;
  text-align: center;
  margin: 0px;
}

.generator-block .dropdown-list .drop-box select {
  background: url(../images/arrow-down.png) no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 10px;
  margin-top: 18px;
  display: block;
  width: 100%;
  font-family: 'SFProText';
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  border: 5px solid #1F1E1D;
  border-radius: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 55px;
  font-size: 18px;
  line-height: 22px;
}

.generator-block .cta-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

@media (min-width: 768px) {
  .generator-block .cta-block {
    flex-direction: row;
  }
}

.generator-block .cta-block button {
  background: #1F1E1D;
  border-radius: 10px;
  font-family: 'monument_groteskregular';
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  width: 324px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator-block .cta-block button:last-child {
  margin: 0px;
}

@media (min-width: 768px) {
  .generator-block .cta-block button {
    flex-direction: row;
    margin: 0px 44px 0px;
  }
}

.generator-block .cta-block button img {
  margin-right: 12px;
}

.generator-block .cta-block button.s-img {
  background: #62605D;
}

.generator-block .generator-image {
  margin: 50px auto 100px;
  width: 1024px;
  height: 1024px;
  max-width: 100%;
  background: url(../images/generator-img.png) no-repeat center center;
  background-size: contain;
  text-align: center;
}

.generator-block .generator-image img {
  max-width: 100%;
  width: 1024px;
}

.generator-block .cta-block button,
.generator-block .cta-block button.s-img {
  background-color: #1f1e1d;
  cursor: pointer;
}

.generator-block .cta-block button.disabled {
  background-color: #62605d !important;
  cursor: auto;
}

.faq-block {
  text-align: center;
  margin: 0 auto 85px;
}

.faq-block h2 {
  font-family: 'Matter';
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #312F2E;
  margin: 0px 0px 35px;
}

.faq-block .text {
  margin-bottom: 35px;
}

.faq-block .text:last-child {
  margin: 0px;
}

.faq-block .text h3 {
  font-family: 'Matter';
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #312F2E;
  margin: 0px 0px 20px;
}

.faq-block .text p {
  font-family: 'Matter';
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #312F2E;
  margin: 0px auto;
  max-width: 80%;
}

footer {
  background: #D9D9D9;
  padding: 52px 20px;
}

@media (min-width: 768px) {
  footer {
    padding: 52px 30px;
  }
}

footer p {
  margin: 0px;
  display: flex;
  align-items: center;
}

footer p img {
  margin-right: 15px;
}

footer p a {
  font-family: 'monument_groteskregular';
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #62605D;
  text-decoration: none;
}

footer p a img {
  margin: 0px;
}

@font-face {
  font-family: 'Matter';
  src: url("../fonts/Matter-Regular.woff2") format("woff2"), url("../fonts/Matter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProText';
  src: url("../fonts/SFProText-Black.woff2") format("woff2"), url("../fonts/SFProText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Grotesk';
  src: url("../fonts/MonumentGrotesk-Bold.woff2") format("woff2"), url("../fonts/MonumentGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'monument_groteskregular';
  src: url("../fonts/monumentgrotesk-regular-webfont.woff2") format("woff2"), url("../fonts/monumentgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

/*# sourceMappingURL=style.css.map */